.settingsImg, .themeImg, .homeImg{
    width: 70px;
}

.settings, .themeSwitch, .mainBack, .resetButton, .icon-url{
    background-color: rgb(39, 39, 39);
    width: 70px;
    height: 70px;
    padding: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 19px;
    margin: 5px;
    transition: all 0.15s;
}

.icon-url{
    width: 35px;
    height: 35px;
}

.can{
    background-color: black;
    width: 200px;
    height: 100px;
    transform: translateX();
    position: absolute;
    animation: forwards appear 0.15s ease-in-out;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    z-index: 100000000;
}

.reactB, .copy{
    width: 30px;
    height: 30px;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: white;
    position: relative;
    transition: all 0.15s;
}

.reactB:hover, .copy:hover{
    opacity: 0.8;
}
@keyframes appear {
    0%{
        opacity: 0;
    }
}

.urls{
    width: 180px;
    height: 20px;
    resize: none;
}

.accept{
    width: 30px;
    height: 30px;
    border-width: 3px;
    border-radius: 3px;
    border: solid black;
    transform: translateY(-10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}


.settings:hover, .themeSwitch:hover, .mainBack:hover, .resetButton:hover, .icon-url:hover{
    padding: 3px;
    cursor: pointer;
}

.settings:active, .themeSwitch:active, .mainBack:active, .resetButton:active, .icon-url:active{
    padding: 1px;
}

.addIMG{
    align-self: center;
    justify-content: center;
}
.addTask, .addNews, .addIMG{
    color: black;
    font-size: 30px;
    display: flex;
    padding: 3px;
    width: 41px;
    border-radius: 10px;
    transition: all 0.1s;
    background-color: rgb(153, 153, 153);
    align-items: center;
    justify-content: center;
}
.addTask:hover, .addNews:hover, .addIMG:hover{
    padding: 4px;
    cursor: pointer;
}

.addTask:active, .addNews:active, .addIMG:active{
    padding: 2px;
}

.ver{
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 20px;
    border-style: none;
    display: flex;
    font-size: 20px;
    height: 25px;
    margin: 20px 100px 0 100px;
    user-select: none;
    transition: padding 0.15s, background-color 0.15s, box-shadow 0.15s;
}
.ver:hover{
    background: rgb(209, 175, 226);
    box-shadow: 0px 0px 15px rgba(235, 198, 255, 0.747);
    padding: 6px;
    cursor: pointer;
}
.ver:active{
    padding: 7px;
}

.conf, .cancel, .delete, .editT{
    background-color: rgb(44, 194, 51);
    border-radius: 5px;
    transition: all 0.15s;
}

.cancel{
    background-color: brown;
}
.delete{
    background-color: rgb(197, 0, 0);
}
.editT{
    background-color: lightseagreen;
}

.conf:hover, .cancel:hover, .delete:hover, .editT:hover{
    filter:brightness(2);
    cursor: pointer;
}
.conf:active, .cancel:active, .delete:active, .editT:active{
    filter: brightness(0.8);
}

@media (max-width: 600px) {
    .settings, .themeSwitch, .settingsImg, .themeImg, .mainBack, .homeImg, .resetButton{
        width: 40px;
        height: 40px;
    }
}