.ExpI{
    animation: epx 0.15s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.settingsContainer{
    animation: 1 settings 0.3s ease-out;
    animation-fill-mode: forwards;
}

.settingsContainerRemove{
    animation: 1 removes 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes settings {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes removes {
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes epx {
    0%{
        opacity: 0;
    }
}